POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_PORT=5435

DATABASE_URL="postgresql://your_postgres_user:your_postgres_password@localhost:5435/your_postgres_db?schema=public"

GOOGLE_APPLICATION_CREDENTIALS="./secrets/your_gcp_credentials.json"
GCP_PROJECT_ID="your_gcp_project_id"

ADMIN_API_KEY="your_admin_api_key"

REDIS_URL="redis://localhost:6381"
REDIS_PORT=6381
WORKER_CONCURRENCY=5
SHUTDOWN_TIMEOUT=10000
